export(labbcatCredentials,
       labbcatTimeout,
       getId,
       getLayerIds,
       getLayers,
       getLayer,
       getCorpusIds,
       getMediaTracks,
       getParticipantIds,
       getMatchingParticipantIds,
       getTranscriptIds,
       getTranscriptIdsInCorpus,
       getTranscriptIdsWithParticipant,
       getGraphIds,
       getGraphIdsInCorpus,
       getGraphIdsWithParticipant,
       getMatchingTranscriptIds,
       getMatchingGraphIds,
       countAnnotations,
       getAnnotations,
       getAnchors,
       getAvailableMedia,
       getMedia,
       getSoundFragments,
       getFragments,
       getMatchLabels,
       getMatchAlignments,
       getDictionaries,
       getDictionaryEntries,
       getMatches,
       processWithPraat,
       praatScriptFormants, praatScriptCentreOfGravity, praatScriptIntensity, praatScriptPitch,
       praatScriptFastTrack, 
       getTranscriptAttributes,
       getParticipantAttributes,
       getSerializerDescriptors, getDeserializerDescriptors,
       getUserInfo,
       getSystemAttribute,
       getAllUtterances,
       newTranscript, updateTranscript, deleteTranscript,
       updateFragment,
       generateLayer,
       generateLayerUtterances,
       newLayer, saveLayer, deleteLayer,
       annotatorExt, getAnnotatorDescriptor,   
       loadLexicon, deleteLexicon,
       addLayerDictionaryEntry, removeLayerDictionaryEntry,
       addDictionaryEntry, removeDictionaryEntry)
importFrom("utils", "URLencode", "setTxtProgressBar", "txtProgressBar", "head", "read.csv", "write.table", "count.fields", "unzip")
importFrom("rstudioapi", "askForPassword")
